<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cover Template · Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="css/world.css" rel="stylesheet">

</head>

<body class="text-center">
  <div class="d-flex w-100 h-100 p2 flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand"><a href="/">C🦠VID-19</a></h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link active" href="/World">World</a>
          <a class="nav-link" href="Country">Country</a>
        </nav>
      </div>
    </header>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12" style="text-align:center;">
          <div class="container cont" style="">
            <h1 style="text-align:center;margin-bottom:2rem"><i class="fas fa-globe-americas"></i>Global </h1>

              <button type="button" class="btn btn-secondary btnmod" data-toggle="modal" data-target="#exampleModal">
                Show Chart
              </button>

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Global Stats</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-dialog modal-xl modal-dialog-scrollable">
                      <table class="table table-borderless table-dark table-hover">
                        <thead>
                          <tr class="background-color:#1B1C1F">
                            <th>
                              Country
                            </th>
                            <th>
                              Confirmed
                            </th>
                            <th>
                              Active
                            </th>
                            <th>
                              Recovered
                            </th>
                            <th>
                              Deaths
                            </th>

                          </tr>
                        </thead>
                        <tbody>

                          <%data.forEach(function(i){ %>
                          <tr class="">
                            <th>
                              <%=i.country%>
                            </th>
                            <td>
                              <%=fun(i.cases)%>
                            </td>
                            <td>
                              <%if(i.active == null){%>
                              <%=tbu%>
                              <%}else{%>
                              <%=fun(i.active)%>
                              <%}%>
                            </td>
                            <td>
                              <%if(i.active == null){%>
                              <%=tbu%>
                              <%}else{%>
                              <%=fun(i.recovered)%>
                              <%}%>
                            </td>
                            <td>
                              <%=fun(i.deaths)%>
                            </td>
                          </tr>
                          <% })%>

                        </tbody>

                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            <table class="table table-borderless table-hover table-dark">
              <tbody>
                <tr>
                  <th style="color:#DBDBDB">Cases</th>
                  <th style="color:#949494"><%=fun(d.cases)%> 🔺</th>
                </tr>
                <tr>
                  <th style="color:#DBDBDB">Active</th>
                  <th style="color:#949494"><%=fun(d.active)%> 🔺</th>
                </tr>
                <tr>
                  <th style="color:#DBDBDB">Recovered</th>
                  <th style="color:#949494"><%=fun(d.recovered)%> 🔺</th>
                </tr>
                <tr>
                  <th style="color:#DBDBDB">Deaths</th>
                  <th style="color:#949494"><%=fun(d.deaths)%> 🔺</th>
                </tr>
                <tr>
                  <th style="color:#DBDBDB">Critical</th>
                  <th style="color:#949494"><%=fun(d.critical)%> 🔻</th>
                </tr>
                <tr>
                  <th style="color:#DBDBDB">Today's Cases</th>
                  <th style="color:#949494"><%=fun(d.todayCases)%></th>
                </tr>
                <tr>
                  <th style="color:#DBDBDB">Today's Deaths</th>
                  <th style="color:#949494"><%=fun(d.todayDeaths)%></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <h2 style="text-align:center">Top-5 Stats</h2>
    <div class="container" style="">
      <div class="row" style="">
        <div class="col-md-6 col-sm-12" style="">
          <h4 style="text-align:center;margin-bottom:1.5rem">Confirmed</h4>
          <table class="table table-borderless table-dark table-hover">
            <thead>
              <tr class="bg-warning">
                <th>
                  Country
                </th>
                <th>
                  Number Of Cases
                </th>
                <th>
                  Number of tests
                </th>

              </tr>
            </thead>
            <tbody>
              <% tc.forEach(function(a){ %>
              <tr>
                <th style="color:#DBDBDB">
                  <%=a.country%>
                </th>
                <th style="color:#949494">
                  <%=fun(a.cases)%>
                </th>
                <th style="color:#949494">
                  <%=fun(a.totalTests)%>
                </th>
              </tr>
              <% })%>
            </tbody>

          </table>
        </div>
        <div class="col-md-6 col-sm-12" style="">
          <h4 style="text-align:center;margin-bottom:1.5rem">Active</h4>
          <table class="table table-borderless table-dark table-hover">
            <thead>
              <tr class="bg-primary">
                <th>
                  Country
                </th>
                <th>
                  Number Of Cases
                </th>
                <th>
                  Number of tests
                </th>

              </tr>
            </thead>
            <tbody>

              <% ta.forEach(function(b){ %>
              <tr>
                <th style="color:#DBDBDB">
                  <%=b.country%>
                </th>
                <th style="color:#949494">
                  <%=fun(b.active)%>
                </th>
                <th style="color:#949494">
                  <%=fun(b.totalTests)%>
                </th>
              </tr>
              <% })%>

            </tbody>
          </table>
        </div>
      </div>
      <div class="row" style="margin-bottom:5rem">
        <div class="col-md-6 col-sm-12" style="">
          <h4 style="text-align:center;margin-bottom:1.5rem">Recovered</h4>
          <table class="table table-borderless table-dark table-hover">
            <thead>
              <tr class="bg-success">
                <th>
                  Country
                </th>
                <th>
                  Number Of Cases
                </th>
                <th>
                  Number of tests
                </th>

              </tr>
            </thead>
            <tbody>

              <% tr.forEach(function(b){ %>
              <tr>
                <th style="color:#DBDBDB" h>
                  <%=b.country%>
                </th>
                <th style="color:#949494">
                  <%=fun(b.recovered)%>
                </th>
                <th style="color:#949494">
                  <%=fun(b.totalTests)%>
                </th>
              </tr>
              <% })%>


            </tbody>

          </table>
        </div>
        <div class="col-md-6 col-sm-12" style="">
          <h4 style="text-align:center;margin-bottom:1.5rem">Deaths</h4>
          <table class="table table-borderless table-dark table-hover">
            <thead>
              <tr class="bg-danger">
                <th>
                  Country
                </th>
                <th>
                  Number Of Cases
                </th>
                <th>
                  Number of tests
                </th>

              </tr>
            </thead>
            <tbody>

              <% td.forEach(function(b){ %>
              <tr>
                <th style="color:#DBDBDB">
                  <%=b.country%>
                </th>
                <th style="color:#949494">
                  <%=fun(b.deaths)%>
                </th>
                <th style="color:#949494">
                  <%=fun(b.totalTests)%>
                </th>
              </tr>
              <% })%>

            </tbody>

          </table>
        </div>
      </div>
    </div>


    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>&copy 2020 Jayanth Anala.</p>
      </div>
    </footer>
  </div>
</body>

</html>
